In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [3]:
df=pd.read_csv("ab_data.csv")

In [4]:
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [5]:
df.shape

(294478, 5)

In [8]:
df[['user_id', 'group', 'landing_page']].value_counts()

user_id  group      landing_page
773192   treatment  new_page        2
840613   treatment  new_page        1
840667   control    old_page        1
840666   control    old_page        1
840664   treatment  new_page        1
                                   ..
735267   treatment  new_page        1
735268   control    old_page        1
735270   control    old_page        1
735271   control    old_page        1
945999   treatment  new_page        1
Name: count, Length: 294477, dtype: int64

In [9]:
pd.crosstab(df['group'], df['landing_page'])

landing_page  new_page  old_page
group
control           1928    145274
treatment       145311      1965

In [12]:
idx_control_newpage=(df['group']=='control') & (df['landing_page']=='new_page')

In [13]:
idx_treatment_oldpage=(df['group']=='treatment') & (df['landing_page']=='old_page')

In [15]:
(idx_control_newpage | idx_treatment_oldpage).sum()

3893

In [18]:
idx_control_newpage

0         False
1         False
2         False
3         False
4         False
          ...
294473    False
294474    False
294475    False
294476    False
294477    False
Length: 294478, dtype: bool

In [17]:
df[~(idx_control_newpage | idx_treatment_oldpage)]

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[290585 rows x 5 columns]

In [20]:
df["converted"].mean()

0.11965919355605512

In [ ]:
df["group"]=="control" & df["converted"]