In [1]:
print("Hello")

Hello

[Markdown cheat sheet](https://www.markdownguide.org/cheat-sheet/) 

To Run any code use Shift + Enter

In [2]:
#by default it gives space as a seperator
print("Machine Learning",'Data science','AI','Deep Learning')

Machine Learning Data science AI Deep Learning

In [63]:
#to overrite seprator we use sep="" of print function
print("Machine Learning",'Data science','AI','Deep Learning',sep=", ")

Machine Learning, Data science, AI, Deep Learning

In [64]:
print?

Keywords are researve words that cannot be used as varaible 
ex if, break, else, elif etc
### list of keywords
> ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Data Types
- int
- float
- str
- bool
- None

In [4]:
iphone=799.99

In [5]:
iphone

799.99

### Type Conversion

In [6]:
str(iphone)

'799.99'

### Input from user

In [7]:
name=input("enter your name : ")

enter your name : samar

In [8]:
print(name)

samar

In [9]:
type(name)

str

In [10]:
print('welcome',name)

welcome samar

salary=50000+exp*20000

In [13]:
exp=float(input('Enter your experience: '))

Enter your experience: 3.3

In [14]:
salary=50000+exp*20000
print(salary)

116000.0

### Operator Expression

In [36]:
no1=2
no2=3

In [37]:
add=no1+no2
div=no1/no2
f_div=no1//no2
exp=no1**no2

In [25]:
print('a+b={}'.format(add))

a+b=13

In [38]:
print('{}+{} = {}'.format(no1,no2,add))
print('{}/{} = {}'.format(no1,no2,div))
print('{}//{} = {}'.format(no1,no2,f_div))
print('{}**{} = {}'.format(no1,no2,exp))

2+3 = 5
2/3 = 0.6666666666666666
2//3 = 0
2**3 = 8

In [27]:
print('no1+no2 =',add)

no1+no2 = 13

In [39]:
food_review=""""We visited the place for breakfast and dinner.
The place is conveniently located with ample parking space.
The food at both the meals was tasty and definetely worth the price.
Good quality is served per portion. services is also good.
overall, a good place to have food (Both south indian and north indian).
would recommand it definitely."""

In [41]:
print(food_review)

"We visited the place for breakfast and dinner.
The place is conveniently located with ample parking space.
The food at both the meals was tasty and definetely worth the price.
Good quality is served per portion. services is also good.
overall, a good place to have food (Both south indian and north indian).
would recommand it definitely.

In [42]:
'good' in food_review

True

In [44]:
"best" in food_review

False

In [49]:
'quality','good' in food_review

('quality', True)

### Loops and iteration

In [62]:
i=1

#do shift tab to open menu
while(i<10):
    print(i,end=", ")
    i+=1

1, 2, 3, 4, 5, 6, 7, 8, 9,

In [77]:
for i in range(1,6):
    j=0
    while(j<i):
        print('*',end="")
        j+=1
    print("")

*
**
***
****
*****

In [84]:
#one loop pattern 
n=5
line=0
current_star=0

while(line<=5):
    if(current_star<line):
        print('*',end="")
        current_star+=1
        continue
    
    if(current_star==line):
        line+=1
        current_star=0
        print("")

*
**
***
****
*****

In [ ]:
print('hello')

In [111]:
n=m=5
i=0
line=1
count_num=0
rev=False
value=1
while(line<=n):
    if(count_num==m-1 and not(rev)):
        print(line,end=",")
        rev=True
        continue
    else:
        if(count_num<n and not(rev)):
            print(0,end="-")
            count_num+=1
            continue
        else:
            count_num-=1
            if(count_num>=0):
                print(0,end="+")
                continue
                
            else:
                print("")
                rev=False
                count_num=0
                m=m-1
    line+=1

0-0-0-0-1,0+0+0+0+
0-0-0-2,0+0+0+
0-0-3,0+0+
0-4,0+
5,