In [1]:
data="Samar is studying data science"

In [2]:
len(data)

30

In [3]:
print(len(data))

30

In [4]:
type(data)

str

### Negative indexing

In [5]:
print(data[0])

S

In [6]:
print(data[0:10])

Samar is s

In [7]:
print(data[-1])

e

In [11]:
print(data[:-1])

Samar is studying data scienc

### Slicing
`data[start_index, end_index+1]`
### Samar is studying data science

In [14]:
print(data[0:7])

Samar i

In [15]:
print(data[0:7+1])

Samar is

In [17]:
#Jump/ step size
print(data[5:15:2])

 ssuy

In [18]:
print(data[0:len(data):2*2])

Sr dgtcc

In [12]:
print(data[:])

Samar is studying data science

In [19]:
print(data[::-1])

ecneics atad gniyduts si ramaS

### String

In [20]:
data.lower()

'samar is studying data science'

In [21]:
data.upper()

'SAMAR IS STUDYING DATA SCIENCE'

In [22]:
data.title()

'Samar Is Studying Data Science'

In [24]:
'9'.isdigit()

True

In [26]:
data.split(' ')

['Samar', 'is', 'studying', 'data', 'science']

In [30]:
#case sensitive
data.replace('Samar','naseem')

'naseem is studying data science'

In [34]:
newdata="samar, please call samar"

In [41]:
newdata.replace('samar','samie',0)

'samar, please call samar'

### Lists

In [44]:
#Empty lists
height=[]
height=list()

### Some important Methods for list
- append
- insert
- pop
- remove
- reverse
- sort
- extend

In [47]:
height=[150,167,175,161,180,172,177]

In [49]:
height.append(161)

In [50]:
height

[150, 167, 175, 161, 180, 172, 177, 161]

In [51]:
height.extend([145,178,133,185])

In [52]:
height

[150, 167, 175, 161, 180, 172, 177, 161, 145, 178, 133, 185]

### List Comprehension

In [54]:
# put all the height in short_height who have height lower than 165 basic method
short_height=[]

In [55]:
for i in height:
    if i < 165:
        short_height.append(i)

In [56]:
short_height

[150, 161, 161, 145, 133]

In [59]:
 # short hand 
short_height=[i for i in height if i < 165]

In [60]:
short_height

[150, 161, 161, 145, 133]

### Tuples

In [64]:
Db=("samar@1213134","naseem@1213134", "samie@2816")

In [66]:
Db[0]

'samar@1213134'

In [68]:
#Convert tuples into list
list(Db)

['samar@1213134', 'naseem@1213134', 'samie@2816']

### Packing and unpacking

In [69]:
#packing
salries=1000,500,2000

In [71]:
type(salries)

tuple

In [72]:
print(salries)

(1000, 500, 2000)

In [73]:
#Unpacking
p1_sal,p2_sal,p3_sal=salries

In [74]:
print(p1_sal)

1000

## Sets
#### Unordered data structure

In [81]:
#elements=set()

elements={3,5,3,2,6,8,5,5,9,1,7,5,4,7}

In [82]:
type(elements)

set

In [90]:
print(elements)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 45}

In [84]:
elements[0]

TypeError: 'set' object is not subscriptable

In [88]:
1 in elements

True

In [89]:
elements.add(45)

In [91]:
elements.remove(3)

In [92]:
elements.remove(3)

KeyError: 3

In [94]:
elements.discard(3)#most use in NLP

## Dict
- unordered

In [96]:
 emp={
     '0001' : 40000,
     '0011' : 80000,
     '1001' : 30000,
     '0111' : 45000
     
 }

In [97]:
emp

{'0001': 40000, '0011': 80000, '1001': 30000, '0111': 45000}

In [98]:
emp['0001']

40000

In [102]:
emp.get('00011')

In [103]:
#Adding eements to dict
emp['999']=95000

In [104]:
emp

{'0001': 40000, '0011': 80000, '1001': 30000, '0111': 45000, '999': 95000}

### Nested Dictionary

In [109]:
Emp_id={
    "HR":{
        '100':40000,
        '101':50000,
    },
    "Tech":{
        "101":60000,
        "103":70000,
        '106':56000,
        '119':86000
    },
    "Sales":{
        '104':46000,
        '109':78000,
        '110':90000
    }
}

In [108]:
Emp_id

{'HR': {'100': 40000, '101': 50000},
 'Tech': {'101': 60000, '103': 70000},
 'Sales': {'104': 46000, '109': 78000, '110': 90000}}

In [114]:
tech_sal=list(Emp_id["Tech"].values())

In [116]:
sum(tech_sal)/len(tech_sal)

68000.0

In [ ]:
#Finding the highest salary in tech job

In [117]:
max(tech_sal)

86000

AttributeError: 'list' object has no attribute 'mean'

{'100': 40000, '101': 50000}